<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="script/angular.min.js"></script>
    <script src="script/angular-route.min.js"></script>
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
    <link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/style.css">

</head>
<body data-ng-app="listaZadan">
    <div data-ng-controller="listController" class="container">
        <section class="row">
            <h1>Lista zadań</h1>
            <p>
                Pozostało <span>{{lista.length - getRemaining()}}</span> z <span>{{lista.length}}</span> [ <a href="" data-ng-click="usunZakonczone()">Usuń zakończone</a> ]
            </p>
            <ul class="list-unstyled">
                <li class="dodane" data-ng-repeat="element in lista">
                    <input  data-ng-model="selected[element]" type="checkbox">
                    <span data-ng-class="{zakonczone: selected[element]}">{{element}}</span>
                </li>
            </ul>
            <input data-ng-model="newEx" type="text">
            <button data-ng-click="dodajZadanie()" class="btn-primary">Dodaj</button>
        </section>
    </div>
</body>
</html>