<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="script/angular.min.js"></script>
    <script src="script/angular-route.min.js"></script>

    <script>
        var myApp = angular.module('mojaAppka', []);
        myApp.controller("myAppController",function ($scope) {
            $scope.zmienna = "Mój Kontroller";
        });

        myApp.controller("loopController",function ($scope) {
            $scope.nagluwek = ['LP', 'Nazwa', 'cena netto', 'vat', 'cena brutto'];
            $scope.lista = [["nazwa", "http://api.jquery.com/jquery.parsejson/"],["ndsfsdfs", "#"], ["nasd", "#"]];
        });

        myApp.controller("formController", function ($scope) {
            $scope.slowa = ['Pierwszy element Listy'];
            $scope.dodajSlowo = function () {
                $scope.slowa.push($scope.newWord);
                $scope.newWord = "";
            }
            $scope.usunSlowo = function (slowo) {
                var zmienna = $scope.slowa.indexOf(slowo);
                $scope.slowa.splice(zmienna, 1);
            }

        });
    </script>
</head>
<body data-ng-app="mojaAppka">

<div data-ng-controller="myAppController">
    {{zmienna}}
</div>

<piwo data-ng-init="name='Rafal'"></piwo>

Imie: {{name}}

<span><h1>Komentarz:</h1></span>
<moj-komentarz data-ng-bind="komentarz"></moj-komentarz>
<div>
    <textarea data-ng-model="komentarz"></textarea>
</div>

<div data-ng-controller="loopController">
    <table>
        <thead>
            <tr>
                <th data-ng-repeat="nazwy in nagluwek">{{nazwy}}</th>
            </tr>
        </thead>
    </table>
    <ul>
        <li data-ng-repeat="nazwy in lista"><a href="{{nazwy[1]}}">{{nazwy[0]}}</a></li>
    </ul>
</div>

<div data-ng-controller="formController">
    <ul>
        <li data-ng-repeat="slowo in slowa">{{slowo}}[<a href="" data-ng-click="usunSlowo(slowo)">Usuń</a>] </li>
    </ul>
    <form data-ng-submit="dodajSlowo()">
        <input type="text" data-ng-model="newWord">
        <input type="submit" value="Dodaj nowy Element">
    </form>
</div>
</body>
</html>