@charset "UTF-8";

.correct{
    border: 1px solid #1DE9B6;
    border-radius: 4px;
}

.wrong{
    border: 1px solid #FF3D00;
    border-radius: 4px;
}

.chmurka{
    display: inline;
    position: relative;
}

.chmurka:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: -4000%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 600px;
}

.chmurka:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}