<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="script/angular.min.js"></script>
    <script src="script/angular-route.min.js"></script>
    <script src="script/jquery.min.js"></script>
    <script src="script/script.js"></script>
    <link rel="stylesheet" href="style/bootstrap/css/bootstrap.min.css">

    <script>

    </script>
</head>

<body data-ng-app="rankingApp" data-ng-controller="countryControll">
<div class="container-fluid text-center">
    <div class="row">
        <div class="col-sm-12">
            <h3>Raming {{rank.length}} </h3>
            <div class="input-group">
                <span class="input-group-addon">Szukaj: </span>
                <input type="text" class="form-control" placeholder="znajdz" data-ng-model="search">
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Sortowanie: </span>
                <input type="button" class="form-control" data-ng-click="orderByThis('FIELD1')" data-ng-model="Kraj" value="Kraj" >
                <input type="button" class="form-control" data-ng-click="orderByThis('FIELD2')" data-ng-model="Punkty" value="Punkty" >
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Dodaj nowy:</span>
                <input type="text" class="form-control" data-ng-model="lp" name="lp" placeholder="lp" style="width: 35%">
                <input type="text" class="form-control" data-ng-model="kraj" name="kraj" placeholder="kraj" style="width: 30%">
                <input type="text" class="form-control" data-ng-model="punkty" name="punkty" placeholder="punkty" style="width: 30%">
                <input type="button" class="form-control btn-primary" data-ng-click="addItem()" value="Dodaj" style="width:5%">
            </div>
            <br>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="bg-primary">
                        <tr>
                            <th data-ng-repeat="naglowek in ['LP', 'Kraj', 'Punkty', 'Operacje']">{{naglowek}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr data-ng-repeat="element in rank | filter:search | orderBy:sortowanie">
                            <td>{{element.FIELD1}}</td>
                            <td>{{element.FIELD2 | uppercase}}</td>
                            <td>{{element.FIELD8}}</td>
                            <td class="usun" style="cursor: pointer" data-ng-click="removeItem($index)">USUN</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>