<h1>Newsy</h1>

<div data-ng-controller="showNewsController">
    <ul style="list-style: none">
        <li style="padding: 25px" data-ng-repeat="element in _news | orderBy:'-id'">
            <details>
                <summary style="font-weight: bold; font-size: larger">{{element.title}}</summary>
                <span>{{element.header}}</span>
                <span style="display: inline-block; text-align: right; width: 100%">
                    <a href="#news_more/{{$index}}">Więcej</a>
                </span>
            </details>
        </li>
    </ul>
</div>