

<div data-ng-controller="showOneNewController">
    <h1>{{_title}}</h1>
    <ul style="list-style: none">
        <li style="padding: 25px">
            <img  class="img-thumbnail img-responsive" src="pic/{{_img}}" style="float: left; margin-right: 25px";>
            <span style="display: block;">{{_desc}}</span>
            <span style="display: inline-block; text-align: right; width: 100%">
                <a href="#news">...Back To news</a>
            </span>
        </li>
    </ul>
</div>