<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="script/angular.min.js"></script>
    <script src="script/angular-route.min.js"></script>

    <script>
        var myApp = angular.module('mojaAppka', []);
        myApp.controller('getPersonController', function ($scope, $http) {
            $http.get('person.json').success(function (data) {
                $scope.osoby = data;
            });
            $scope.reverse = false;
        });
    </script>
</head>
<body data-ng-app="mojaAppka">
    <div data-ng-controller="getPersonController">
        <input type="text" data-ng-model="znajdz">
        <a href="" data-ng-click="reverse = !reverse">Sortowanie</a>
        <ul>
            <li data-ng-repeat="el in osoby | orderBy:'person':reverse | filter:znajdz">{{el.person}}</li>
        </ul>
    </div>
</body>
</html>