@charset "UTF-8";

.my-button{
    padding: 4%;
    font-size: xx-large;
    cursor: pointer;
}

.my-button:hover{
    background-color: #122b40;
}

#displayDiv{
    padding: 4%;
    background-color: black;
    color: white;
}

#display{
    height: 40px;
}

#currOperation{
    height: 25px;
}